#Pandas

* Indexing
* Renaming
* Missing Values
* Groupby
* Statistic
* Merge Join
* Plotting
* NumPy Array extraction

In [1]:
import pandas as pd
import numpy as np

#Series

In [2]:
index = ['a','b','c','d','e']

In [3]:
pd.Series(np.arange(5), index=index)

a    0
b    1
c    2
d    3
e    4

In [4]:
series = pd.Series(np.arange(5), index=index)

In [5]:
series['a'], series['b']

(0, 1)

In [6]:
series[:2]

a    0
b    1

Dictionary like numpy array

#DataFrame

* Dataframe is dict like, you can index column names or lists of column names
* df.ix gives you numpy like indexing semantics.
* avoid integer column names
* The first dimension is the index.  Subsequent dimensions are the columns

In [25]:
df = pd.DataFrame({'a' : np.random.random(5), 'number 2' : np.random.random(5)})
print df

          a  number 2
0  0.368084  0.421787
1  0.229685  0.473038
2  0.084496  0.423581
3  0.471824  0.106331
4  0.213787  0.870784

In [28]:
df['a']

0    0.368084
1    0.229685
2    0.084496
3    0.471824
4    0.213787
Name: a

In [31]:
df.ix[:3]

          a  number 2
0  0.368084  0.421787
1  0.229685  0.473038
2  0.084496  0.423581
3  0.471824  0.106331

In [40]:
df = pd.DataFrame({'a' : np.random.random(5), 'b':np.random.random(5), 'c' : np.random.random(5)}, index=['one', 'two', 'three', 'four', 'five'])
df

              a         b         c
one    0.839328  0.884319  0.146035
two    0.985391  0.596175  0.093844
three  0.034033  0.807279  0.377040
four   0.189969  0.692195  0.113060
five   0.089404  0.376146  0.339184

In [42]:
df.ix['two':'five']

              a         b         c
two    0.985391  0.596175  0.093844
three  0.034033  0.807279  0.377040
four   0.189969  0.692195  0.113060
five   0.089404  0.376146  0.339184

#Indexing by Datetime

In [33]:
rng = pd.date_range('3/14/2013', periods=50, freq='T')
print rng

<class 'pandas.tseries.index.DatetimeIndex'>
[2013-03-14 00:00:00, ..., 2013-03-14 00:49:00]
Length: 50, Freq: T, Timezone: None

In [38]:
d = {'pt_1':pd.Series(randn(len(rng)), index=rng), 'pt_2':pd.Series(randn(len(rng)), index=rng)}
df = pd.DataFrame(d)
df.head(5)

                         pt_1      pt_2
2013-03-14 00:00:00  0.139022 -0.902456
2013-03-14 00:01:00 -0.910978  1.826735
2013-03-14 00:02:00 -0.221121 -0.681686
2013-03-14 00:03:00 -0.488326  0.865892
2013-03-14 00:04:00 -1.123205 -0.539297

In [35]:
df

                         pt_1      pt_2
2013-03-14 00:00:00 -0.709028  1.968836
2013-03-14 00:01:00 -1.002573 -0.128686
2013-03-14 00:02:00  0.071095  0.856226
2013-03-14 00:03:00  2.016434  0.161054
2013-03-14 00:04:00  1.415303 -0.649090
2013-03-14 00:05:00 -0.600021  0.676255
2013-03-14 00:06:00  1.594985 -0.582391
2013-03-14 00:07:00 -0.663377 -1.168662
2013-03-14 00:08:00 -0.583373  1.338487
2013-03-14 00:09:00  1.987060  1.060700
2013-03-14 00:10:00  0.616671 -0.300373
2013-03-14 00:11:00  2.420452  1.665964
2013-03-14 00:12:00  1.023087 -0.441069
2013-03-14 00:13:00 -0.156677  0.685528
2013-03-14 00:14:00 -0.088246  1.025240
2013-03-14 00:15:00  0.936033  2.148406
2013-03-14 00:16:00  0.654561  0.216501
2013-03-14 00:17:00 -0.562621  0.066577
2013-03-14 00:18:00 -0.346596 -0.111699
2013-03-14 00:19:00  0.785941  0.898306
2013-03-14 00:20:00  1.209717  0.580751
2013-03-14 00:21:00 -1.652340 -1.306449
2013-03-14 00:22:00 -0.759567  0.393284
2013-03-14 00:23:00  0.515564  1.278258
2013-03-14 00:24:00 -1.533498 -0.506517
2013-03-14 00:25:00  1.415616  0.170434
2013-03-14 00:26:00 -0.332769 -1.532849
2013-03-14 00:27:00 -1.073198  0.636741
2013-03-14 00:28:00 -1.703232 -0.746653
2013-03-14 00:29:00  0.301707 -0.023583
2013-03-14 00:30:00 -0.459286  0.229291
2013-03-14 00:31:00  0.059357 -0.237899
2013-03-14 00:32:00 -0.524525  0.802250
2013-03-14 00:33:00 -1.607276 -0.203812
2013-03-14 00:34:00 -1.581123 -0.211987
2013-03-14 00:35:00 -0.545353  0.466657
2013-03-14 00:36:00 -0.349185  0.162689
2013-03-14 00:37:00  1.222611  0.548749
2013-03-14 00:38:00 -0.089193  0.635375
2013-03-14 00:39:00  0.725059  2.316202
2013-03-14 00:40:00  0.760151 -2.053999
2013-03-14 00:41:00 -0.166340 -0.906287
2013-03-14 00:42:00  0.544402  0.613321
2013-03-14 00:43:00  1.339693  0.435234
2013-03-14 00:44:00 -0.696242 -0.851065
2013-03-14 00:45:00  0.190538  1.490117
2013-03-14 00:46:00  0.671803 -0.009313
2013-03-14 00:47:00 -1.001122  0.869508
2013-03-14 00:48:00  0.345728  0.700509
2013-03-14 00:49:00  0.401707  0.340094

In [43]:
ts = pd.Series(randn(len(rng)), index=rng)